li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.primary-btn a {
  border-radius: 10px;
  background: #d3af35;
  color: #0C0B0B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0px;
  display: inline-block;
  position: relative;
  z-index: 1;
  max-width: 151px;
  width: 100%;
  text-transform: capitalize;
  margin-top: 30px;
}
.primary-btn a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  color: #fff !important;
  background: #0C0B0B;
  z-index: -1;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  left: 0;
  margin: auto;
}

.primary-btn a:hover:before {
  width: 100%;
  color: #fff;
}

.primary-btn a:hover {
  color: #fff;
}

.banner {
  position: relative;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
    line-height: 21px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  color: #d3af35;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: normal;
  }
}

h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 25px 0 !important;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #d3af35;
}

h4 {
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #d3af35;
  margin-bottom: 0;
}

/*media queries start*/
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .site-logo img {
    max-width: 180px;
  }
  .site-nav a {
    padding: 8px 8px !important;
    display: inline-block;
  }
  .site-nav li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav a {
    display: inline-block;
    padding: 8px 9px;
  }
  .site-nav li {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  /*header start*/
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #0C0B0B;
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
  }
  .site-nav ul {
    display: block;
    padding: 75px 60px 0;
    display: inline-block !important;
  }
  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }
  .closed-menu {
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block;
  }
  .closed-menu a:hover {
    color: #ffffff;
  }
  .closed-menu {
    display: block;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .closed-menu {
    display: block;
  }
  .site-header {
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
  }
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-logo img {
    max-width: 20rem;
  }
  .site-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .site-nav li a {
    font-size: 17px;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    font-family: "Poppins";
  }
  .site-nav li a:hover::after {
    width: 100%;
    transition: all 0.3s linear;
  }
  .site-nav .closed-menu a {
    font-size: 45px;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 2.5rem;
    height: 2px;
    background-color: #ffffff;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  ul.dropdown-content {
    position: absolute;
    width: 250px;
    background: transparent;
    top: 100%;
    left: 0;
    background: #ffffff;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bar-2 {
    width: 30px;
  }
  .bd-header-top__meta span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  .bd-header-top__meta a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  .about_us_content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .choosemain {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-us {
    align-items: start;
  }
  .social-icons,
  .links__main {
    border: none;
  }
  .flexcard-main {
    padding: 50px 0;
  }
}
@media screen and (max-width: 575px) {
  .site-nav {
    width: 100%;
  }
  .topttext p {
    text-align: justify;
  }
}


/*# sourceMappingURL=responsive.css.map */
