/*global start*/
li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.primary-btn a {
  border-radius: 10px;
  background: #04566E;
  color: #eac88d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0px;
  display: inline-block;
  position: relative;
  z-index: 1;
  max-width: 151px;
  width: 100%;
  text-transform: capitalize;
  margin-top: 30px;
}
.primary-btn a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  color: #fff !important;
  background: #eac88d;
  z-index: -1;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  left: 0;
  margin: auto;
}

.primary-btn a:hover:before {
  width: 100%;
  color: #fff;
}

.primary-btn a:hover {
  color: #04566E;
}

.banner {
  position: relative;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
}
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  color: #000 !important;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
    line-height: 21px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  color: #eac88d;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: normal;
  }
}

h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 25px 0 !important;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #04566E;
}

h4 {
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #04566E;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "PT Serif Caption", serif;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #eac88d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

.site-header .site-nav ul li a.active {
  color: #eac88d;
}

header.site-header.sticky {
  background: #04566E;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 12px 0;
  position: fixed;
}

header.site-header.sticky .site-nav a {
  color: #fff;
}

header.site-header.sticky .site-nav a.active {
  color: #eac88d;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 400;
  color: #fff;
}
.site-nav a:hover {
  color: #eac88d;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*banner-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.jpg);
  height: 550px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/*banner-css-end*/
/*home-css-start*/
.topttext {
  padding: 30px 0;
}
.topttext p {
  color: #eac88d;
  font-weight: normal;
}

.choosemain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin-top: 25px;
}

.choosebox {
  height: 100%;
  background: #04566E;
  padding: 10px;
}
.choosebox p {
  color: #fff !important;
}
.choosebox:hover {
  background-color: #eac88d;
  transform: translateY(-10px);
  transition: 0.3s;
}
.choosebox:hover h3 {
  color: #04566E;
}
.choosebox:hover p {
  color: #04566E !important;
}
.choosebox:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.choosebox h3 {
  color: #fff;
}
.choosebox img {
  max-width: 50px;
  margin: 20px 0;
  filter: invert(94%) sepia(13%) saturate(879%) hue-rotate(328deg) brightness(96%) contrast(88%);
}

p.choosepara {
  padding: 50px 0;
}

.casinohotel-picture img {
  height: 350px;
  object-fit: cover;
}
.casinohotel-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.casinohotel-content.right span {
  font-size: 25px;
}

/*home-css-end*/
/*about start*/
section.aboutbanner.banner {
  background-image: url(../images/aboutbanner.jpg);
}

.flexcard-title {
  text-align: center;
}

.flexcard-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.flexcard-main:hover {
  background-color: #04566E;
  margin: 0;
  transition: 0.3s ease;
}
.flexcard-main:hover p {
  color: #fff;
}

.flexcard-main p {
  font-size: 14px;
  line-height: 17px;
  color: #eac88d;
}

.flexcard-main h4 {
  color: #04566E;
}

.flexcard-picture img {
  height: 350px;
  object-fit: cover;
}

.flexcard-main:hover h4 {
  color: #eac88d;
}

.about_us_content {
  background-color: #fff;
  margin: 30px 0;
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
}

.form-group {
  margin-bottom: 2rem;
}

.about_us_content .input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #04566E;
  padding: 2rem 2rem;
  background: transparent;
  color: #eac88d;
}

.about_us_content textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: #04566E;
  border: 1px solid #04566E;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #eac88d !important;
  border: 1px solid #eac88d !important;
}

.about_us_content .input-control:focus-visible {
  outline: none;
}

.about_us_content .form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #04566E;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "PT Serif";
}

button.submit-btn {
  color: #eac88d !important;
}
button.submit-btn:hover {
  background-color: #04566E !important;
  border-color: #04566E !important;
  color: #fff !important;
}

/*about end*/
/*luxury start*/
.luxury.banner {
  background-image: url(../images/luxurybanner.jpg);
}

.luxurycard-main {
  color: #fff;
  text-align: start;
  height: 100%;
  padding: 25px 15px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.luxurycard-main img {
  height: 250px;
  object-fit: cover;
}
.luxurycard-inner {
  height: 100%;
  margin-top: 25px;
}
.luxurycard-inner p {
  color: #eac88d;
}

.luxurycard .row {
  row-gap: 25px;
}

/*luxury end*/
/*resorts start*/
.resorts.banner {
  background-image: url(../images/resortsbanner.jpg);
}

.traveltips-main {
  box-shadow: 0px 0px 30px 0px rgba(199, 199, 199, 0.5);
  padding: 10px 20px;
  height: 100%;
}

span.travelblock {
  font-size: 23px;
  color: #04566E;
}

.travel {
  padding: 50px 0;
  position: relative;
}
.travel h3 {
  margin: 30px 0;
}

.travelcard-inner span {
  color: #eac88d;
  font-size: 18px;
  display: block;
  text-align: center;
}

.travelcard img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.traveltips {
  display: flex;
  gap: 25px;
  padding: 16px 0;
  align-items: center;
}
.traveltips img {
  max-width: 45px;
  height: 45px;
  object-fit: cover;
  text-align: left;
}
.traveltips h3 {
  color: #04566E;
}

.traveltips .row {
  row-gap: 25px;
}

/*resorts end*/
/*footer start*/
.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #04566E;
  opacity: 0.95;
  z-index: -1;
}

.footer-body {
  padding: 60px 0;
}
.footer-body h4 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 2rem;
}

.social-icons img {
  max-width: 20px;
  filter: invert(28%) sepia(53%) saturate(699%) hue-rotate(147deg) brightness(97%) contrast(93%);
}
.social-icons p {
  color: #fff;
  margin: 1.5rem 0;
}
.social-icons ul {
  display: flex;
  flex-wrap: wrap;
}
.social-icons a {
  color: #04566E;
}

.social-icons a:last-child {
  display: inline-block;
  background: #fff;
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-icons a:last-child:hover {
  transform: rotate(180deg);
}

.our_service li a {
  display: inline-block;
  color: #fff;
  padding-bottom: 1rem;
}

.useful-links ul {
  display: flex;
  flex-direction: column;
}
.useful-links li a {
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 1rem;
  display: inline-block;
}
.useful-links li a:hover {
  color: #eac88d;
}
.useful-links h4 {
  font-size: 26px;
  font-family: auto;
}

.social-icons,
.links__main {
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.useful-links {
  margin-top: 20px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact-us h4 {
  font-size: 26px;
  color: #eac88d;
  margin-bottom: 15px;
}
.contact-us p {
  color: #fff;
  margin: 0 0 2rem;
}
.contact-us a {
  color: #fff;
}
.contact-us a:hover {
  color: #eac88d;
}

.content-wrap ul {
  margin: 10px 0;
}

.footer.new .social-icons {
  display: flex;
  height: auto;
  border: none;
}

.footer.new .footer-logo img {
  max-width: 150px;
  margin-bottom: 25px;
}

/*footer end*/
/*privacy-policy start*/
.privacy__section.banner {
  background-image: url(../images/privacybanner.avif);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.privacy__section.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
}
.privacy-policy .content-wrap h4 {
  margin: 10px 0;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 15px;
}
.terms .content-wrap h4 {
  margin: 10px 0;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section.banner {
  background-image: url(../images/termsbanner.jpg);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.terms__section.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*terms-conditon-end/


/*mobile-view-design*/
.bgi-casino {
  background: url(../images/bg-casiono.jpg);
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 220px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.bgi-casino::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

section.mobile-view {
  background-image: url(../images/greekbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 20px;
}

section.mobile-view::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: -1;
}

.main-rate-star p.rated-star:nth-child(3) {
  font-size: 19px !important;
}

.bgi-casino span {
  color: #d08a38;
  font-size: 18px;
  font-weight: 600;
}

.beste {
  font-size: 25px !important;
  font-weight: 600;
  color: #fff;
  max-width: 69%;
  width: 100%;
  line-height: 34px;
}

.encrypted {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.beting_logo span {
  background: #eac88d;
  padding: 4px 9px;
  margin-left: -10px;
}

.encrypted p {
  color: #fff !important;
  font-size: 14px;
  margin: 0 2px 0 0;
}

.myceltwo {
  margin: 0 0 0 10px;
}

.mycelonw .main-rate-star {
  display: flex;
}

img.encrypted-img {
  max-width: 20px;
  margin: 0 4px 0 0;
}

.mobile-view-design {
  background: #f4f4f4;
  padding-bottom: 28px;
  display: none;
}

.mobile-view-design .warapper {
  background: rgba(215, 217, 219, 0);
  border-bottom: 4px solid #1a385a;
  border-radius: 6px;
  margin: 30px 0;
}

.mobile-view-design .warapper .main_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #eac88d;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.mobile-view-design .warapper .main_box::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #04566e;
  position: absolute;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  width: 55%;
  z-index: -1;
}

.mobile-view-design .warapper .main_box .beting_logo {
  width: 55%;
}

.mobile-view-design .warapper .main_box .beting_logo img {
  width: 70%;
  height: 130px;
  object-fit: contain;
}

.mobile-view-design .warapper .main_box .one_o {
  width: 45%;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main {
  font-size: 23px !important;
  color: #1a385a;
  font-weight: 600;
}

.mobile-view-design .warapper .main_box .one_o h6.heading_main .one_o p {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

.mobile-view-design .start_line {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 1px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ffffff;
  margin: 17px 0;
}

.mobile-view-design .start_line p.rating-text {
  padding-bottom: 4px !important;
  margin: 0px !important;
  margin-top: 13px !important;
}

.mobile-view-design .start_line .notpad {
  padding: 0 9px;
}

.mobile-view-design .start_line .notpad p {
  padding-bottom: 0;
}

.mobile-view-design .start_line .main-rate-star {
  display: flex;
  text-align: center;
  justify-content: center;
}

.mobile-view-design .start_line .main-rate-star p.rated-star {
  color: #fdbb4f !important;
  font-size: 14px !important;
}

.mobile-view-design .awesome a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  background: #1f2b42;
  padding: 16px 44px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  margin-top: 37px;
}

.text_auality h3 {
  color: #f8b940;
  margin-bottom: 0;
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.mobile-view-design p {
  color: #fff;
  font-size: 17px;
}

.one_o p {
  line-height: 22px;
  font-size: 24px;
  color: #fff;
}

p.rating-text {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.rating-text b {
  color: #fff;
  font-size: 27px;
}

.mobile-view-design p {
  color: #fff;
  margin-bottom: 0;
}

.text_auality p {
  color: #000;
}

.rate.notpad {
  margin-right: 10px;
}

.mycel {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 10px;
}

.main-rate-star {
  display: flex;
}

.desktop-version {
  display: block;
}

.mobile-view-design.entertainment {
  display: none;
  margin-top: 53px;
}

@media only screen and (max-width: 575px) {
  .desktop-version {
    display: none;
  }
  .mobile-view-design.entertainment {
    display: block;
  }
  section.home-main.mobile-table {
    display: block;
  }
  .desktop-version {
    display: none;
  }
  .mobile-view-design p {
    text-align: left !important;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
  }
  p.rated-star {
    color: #fdbb4f !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }
  header.site-header {
    background: #04566e;
  }
}
@media screen and (max-width: 480px) {
  .mobile-view-design .warapper .main_box .one_o h6.heading_main {
    font-size: 22px !important;
  }
  .mobile-view-design .awesome a {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    background: #1f2b42;
    padding: 12px 31px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    margin-top: 37px;
  }
  .myceltwo p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 425px) {
  .beste {
    max-width: 95%;
  }
  .first-bonus {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #2e3986;
  }
  section.home-main.mobile-table .container {
    padding: 0 8px;
  }
  .myceltwo {
    margin: 0;
  }
  p {
    font-size: 14px;
    text-align: justify;
  }
}
@media screen and (max-width: 395px) {
  .mobile-view-design .awesome a {
    font-size: 12px;
  }
  .mobile-view-design .warapper .main_box .one_o h6.heading_main {
    font-size: 18px !important;
  }
}
.rate.notpad p {
  color: #fff !important;
}

.rate p {
  color: #fff !important;
}

.awesome {
  text-align: center;
}



/*# sourceMappingURL=style.css.map */
