/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "PT Serif Caption", serif;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/

header.site-header {
    background: transparent;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: $clr-black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

.site-header .site-nav ul li a.active {
    color: $clr-yellow;
}

header.site-header.sticky {
    background: $clr-yellow;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 2px 0;
    position: fixed;
}

header.site-header.sticky .site-nav a {
    color: #fff;
}

header.site-header.sticky .site-nav a.active {
    color: #000;
}


.site-logo img {
    width: 100%;
    max-width: 300px;
}

.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    font-weight: 400;
    color: $clr-white;

    &:hover {
        color: $clr-yellow;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/

/*banner-css-start*/
.homebanner.banner {
    background-image: url(../images/homebanner.jpg);
}

.bannertitle {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/*banner-css-end*/

/*home-css-start*/
.topttext {
    padding: 30px 0;

    p {
        color: $clr-black;
        font-weight: normal;
    }
}

.choosemain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 25px;
}

.choosebox {
    height: 100%;
    background: $clr-yellow;
    padding: 10px;

    &:hover {
        background-color: $clr-black;
        transform: translateY(-10px);
        transition: .3s;

        h3 {
            color: $clr-yellow;
        }

        p {
            color: $clr-white;
        }

        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
    }

    h3 {
        color: $clr-white;
    }

    img {
        max-width: 50px;
        margin: 20px 0;
    }
}

p.choosepara {
    padding: 50px 0;
}

.casinohotel {
    &-picture {
        img {
            height: 350px;
            object-fit: cover;
        }
    }

    &-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.casinohotel-content.right {
    background: $clr-yellow;

    h3 {
        color: $clr-white ;
    }

    a {
        color: $clr-white;
        background-color: $clr-black;

        &:hover {
            background-color: $clr-white;
            color: $clr-white;
        }
    }
}

.casinohotel-content.right span {
    font-size: 25px;
}

/*home-css-end*/

/*about start*/
section.aboutbanner.banner {
    background-image: url(../images/aboutbanner.jpg);
}

.flexcard {
    padding-bottom: 50px;
}

.flexcard-title {
    text-align: center;
}

.flexcard-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;

}

.flexcard-main:hover {
    background-color: $clr-yellow;
    margin: 0;
    transition: 0.3s ease;

    p {
        color: $clr-white;
    }
}

.flexcard-main p {
    font-size: 14px;
    line-height: 17px;
    color: $clr-black;
}

.flexcard-main h4 {
    color: $clr-yellow;
}

.flexcard-picture img {
    height: 350px;
    object-fit: cover;
}


.flexcard-main:hover h4 {
    color: $clr-black;
}

.about_us_content {
    background-color: $clr-white;
    margin: 30px 0;
    width: 50%;
}

.form-group {
    margin-bottom: 2rem;
}

.about_us_content .input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-yellow;
    padding: 2rem 2rem;
    background: transparent;
    color: $clr-black;
}

.about_us_content textarea.input-control {
    resize: none;
    height: auto;
}

.form-group .submit-btn {
    background: $clr-yellow;
    border: 1px solid $clr-yellow;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: $clr-white;
    text-transform: capitalize;

    &:hover {
        background-color: $clr-black !important;
        border: 1px solid $clr-black !important;
    }
}

.about_us_content .input-control:focus-visible {
    outline: none;
}

.about_us_content .form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-black;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'PT Serif';
}

button.submit-btn {
    color: $clr-black !important;

    &:hover {
        background-color: $clr-yellow !important;
        border-color: $clr-yellow !important;
        color: $clr-white !important;
    }

}

/*about end*/

/*luxury start*/
.luxury.banner {
    background-image: url(../images/luxurybanner.jpg);
}

.luxurycard {
    &-main {
        color: #fff;
        text-align: start;
        height: 100%;
        padding: 25px 15px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img {
            height: 250px;
            object-fit: cover;
        }
    }

    &-inner {
        height: 100%;
        margin-top: 25px;

        p {
            color: $clr-black;
        }
    }
}

.luxurycard .row {
    row-gap: 25px;
}

/*luxury end*/

/*resorts start*/
.resorts.banner {
    background-image: url(../images/resortsbanner.jpg);
}

.traveltips-main {
    box-shadow: 0px 0px 30px 0px rgba(199, 199, 199, 0.5);
    padding: 10px 20px;
    height: 100%;
}

span.travelblock {
    font-size: 23px;
    color: $clr-yellow;
}

.travel {
    padding: 50px 0;
    position: relative;

    h3 {
        margin: 30px 0;
    }

}

.travelcard-inner span {
    color: $clr-black;
    font-size: 18px;
    display: block;
    text-align: center;
}

.travelcard img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.traveltips {
    display: flex;
    gap: 25px;
    padding: 16px 0;
    align-items: center;

    img {
        // filter: invert(0%) sepia(19%) saturate(2874%) hue-rotate(192deg) brightness(97%) contrast(108%);
        max-width: 45px;
        height: 45px;
        object-fit: cover;
        text-align: left;
    }

    h3 {
        color: $clr-black;
    }
}

.traveltips .row {
    row-gap: 25px;
}

/*resorts end*/

/*footer start*/
.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $clr-yellow;
        opacity: 0.95;
        z-index: -1;
    }

}

.footer-body {
    padding: 60px 0;

    h4 {
        font-size: 1.8rem;
        text-transform: capitalize;
        color: $clr-white;
        margin: 0 0 2rem;
    }
}


.social-icons {
    img {
        max-width: 20px;
        filter: invert(85%) sepia(73%) saturate(1085%) hue-rotate(323deg) brightness(89%) contrast(86%);

    }

    p {
        color: $clr-white;
        margin: 1.5rem 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        color: $clr-yellow;
    }
}


.social-icons a:last-child {
    display: inline-block;
    background: #fff;
    margin-right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #fff;
        transform: rotate(180deg);
    }
}

.our_service li a {
    display: inline-block;
    color: $clr-white;
    padding-bottom: 1rem;
}


.useful-links {
    ul {
        display: flex;
        flex-direction: column;
    }

    li a {
        color: $clr-white;
        text-transform: capitalize;
        padding-bottom: 1rem;
        display: inline-block;

        &:hover {
            color: $clr-black;
        }
    }

    h4 {
        font-size: 26px;
        font-family: auto;
    }
}


.social-icons,
.links__main {
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.useful-links {
    margin-top: 20px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h4 {
        font-size: 26px;
        color: $clr-black;
        margin-bottom: 15px;
    }

    p {
        color: $clr-white;
        margin: 0 0 2rem;
    }

    a {
        color: $clr-white;

        &:hover {
            color: #000;
        }
    }

}

.content-wrap ul {
    margin: 10px 0;
}

.footer.new .social-icons {
    display: flex;
    height: auto;
    border: none;
}

.footer.new .footer-logo img {
    max-width: 150px;
    margin-bottom: 25px;
}

/*footer end*/

/*privacy-policy start*/
.privacy__section.banner {
    background-image: url(../images/privacybanner.avif);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
}

.privacy-policy {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 15px;
        }
    }
}

.terms {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 15px;
        }
    }
}

/*privacy-policy end*/

/*terms-conditon start*/
.terms__section.banner {
    background-image: url(../images/termsbanner.jpg);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
}

/*terms-conditon-end/

/*# sourceMappingURL=style.css.map */